/** Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand|Raleway:400,600");

.is-quicksans{
  font-family: 'Quicksand', sans-serif;
}

.is-raleway{
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-bottom:1.5em;
}