.friends-page{
  .level{
    margin-bottom: 0;
  }
  h1{
    margin-bottom: 0;
  }
  .content ul{
    margin-left:0;
  }
}
.friend{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 #cfd2d478;
  .content{
    padding:5px;
  }
}
