.navbar{
  background-color: #2d2b4a !important;
  .logo{
    font-weight: 600;
    font-size: 1.5rem;
  }
  .avatar{
    margin-right:0.5em;
  }
  .search{
    float: left;
    min-width:500px;
    @include mobile {
      min-width:0;
      width: 100%;
      border: none;
      border-bottom: 1px #b5b5b5;
    }
  }
}
.search-dropdown{
  max-height: 300px;
  overflow: scroll;
  .search-item{
    padding: 1em;
    cursor: pointer;
    &:hover{
      background-color: whitesmoke;
    }
  }
}

