
.side-bar{

  padding-top:2em;

  .menu-label{
    margin-top:2em;
    padding-left: 1em;
  }

  .menu-list{
    .item{
      .icon{
        margin-right: 1em;
      }
    }
    a{
      &.is-active{
        background-color:#2d2b4a;
        color:white;
      }
    }
  }
}
