.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition: opacity 1s
}
.fade-slow-enter, .fade-slow-leave-active {
  opacity: 0
}

.modal-background{
  transition: opacity .3s ease;
}
.modal-card{
  transition: all .3s ease;
}
.modal-enter {
  transition: all .3s ease;
  opacity: 0;
}

.modal-leave-active {
  transition: all .3s ease;
  opacity: 0;
}

.modal-enter .modal-card,
.modal-leave-active .modal-card {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}